:root {
    --color-primary-font: white;
    --color-font-back: linear-gradient(to right, #A6B4FE 0%, #4D5BDB 100%);
    --color-back-mobile: linear-gradient(to bottom, #2D063A 0%, #3337a8 60%, #544AAB 100%);
    --color-back-content: linear-gradient(to bottom, rgba(202, 230, 255, 0.2) 0%, rgba(126, 126, 255, 0.2) 60%, rgba(64, 12, 255, 0.2) 100%);
    --blur-back: blur(100);
}

html {
    font-size: 16px;
}

body {
    background-color: #b71b1b;
    font-family: 'Sans Serif';
}

#desktop {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(98, 14, 17, 0.8) 0%, rgba(114, 11, 7, 0.8) 67%, #291676 100%);
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgba(114, 11, 7, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(50px);
    position: fixed;
}

header .logo {
    margin-left: 50px;
}

header .menu {
    display: inline-block;
}

header .menu ul {
    display: inline-block;
    width: 100%;
    height: 100px;
}

header .menu ul>li {
    display: inline-block;
    padding: 0px 50px;
    line-height: 100px;
    box-sizing: border-box;
}

header .menu ul li:hover {
    background-color: #b71b1b;
}

header .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

header .menu .sub-menu {
    position: relative;
}

header .menu .sub-menu .sub-content {
    display: none;
    position: absolute;
    left: 0px;
}

header .menu .sub-menu:hover .sub-content {
    display: block;
}

header .menu .sub-menu .sub-content li {
    display: inline-block;
    background-color: rgb(198, 194, 210);
    width: 100%;
}

header .menu .sub-menu .sub-content li:hover {
    background-color: rgb(157, 147, 192);
}

header .menu .fa-bars {
    display: none;
}

#about {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to right, #bb3521 0%, #2b195d 55%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

#about .img {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .img img {
    border-radius: 999px;
    margin-left: 50px;
    transition: 0.5;
}

#about .text {
    width: 70%;
    align-self: center;
    box-sizing: border-box;
    margin-right: 100px;
}

#about .text h1,
h2,
p {
    color: var(--color-primary-font);
    align-self: flex-end;
    flex-wrap: wrap;
    margin: 20px;
    text-align: left;
}

#about .text h1 {
    font-size: 100px;
    font-weight: 600;
}

#about .text h2 {
    font-size: 80px;
    font-weight: 500;
    -webkit-text-fill-color: transparent;
    background: var(--color-font-back);
    background-clip: text;
}

#about .text p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
}

#information {
    height: 430px;
}

#information .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 70%;
    background: linear-gradient(to bottom, rgba(202, 230, 255, 0.2) 0%, rgba(126, 126, 255, 0.2) 60%, rgba(64, 12, 255, 0.2) 100%);
    backdrop-filter: blur(100);
    border-radius: 50px;
}

#information .container {
    padding: 50px;
}

#information .container .item1 p {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-primary-font);
    text-align: center;
}

#information .container .item1 hr {
    color: var(--color-primary-font);
    width: 30%;
    border: 1px solid white;
    border-radius: 1px;
}

#information .comtainer .item2 p {
    font-size: 20px;
    font-weight: 300;
}

#skill {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 80%;
    padding-bottom: 300px;
}

#skill .text p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-primary-font);
}

#skill .text hr {
    color: var(--color-primary-font);
    width: 10%;
    border: 1px solid var(--color-primary-font);
    border-radius: 1px;
}

#skill .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#skill .dong {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#skill .dong .icon {
    width: 130px;
    height: 130px;
    background: linear-gradient(rgba(229, 241, 252, 0.3) 0%, rgba(141, 187, 255, 0.3) 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#skill .dong .icon:nth-child(2) {
    margin-left: 200px;
    margin-right: 200px;
}

.item3 {
    text-align: center;
    color: white;
    font-size: 20px;
    display: block;
}

.item3 p {
    text-align: center;
}

.item4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


a {

    text-decoration: none;

}

.item4-btn {
    background-image: linear-gradient(to right, red 0%, yellow 70%);
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    list-style: none;
    color: black;
}

.item4-btn:hover {
    opacity: 0.5;
}

#skill .dong .icon img {
    height: 100px;
    background-size: contain;
}

footer {
    background: #b71b1b;
    height: 250px;
    width: 100%;
    backdrop-filter: drop-shadow(4px 4px 10px rgba(77, 68, 133, 0.5));
}

footer .logo {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

footer .logo a {
    color: rgb(228, 218, 249);
    font-size: xx-large;
    margin: 5px;
}

footer .logo a:hover {
    color: rgb(146, 124, 194);
}

footer p {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: large;
}

/*color:rgb(228, 218, 249);*/

/*color:rgb(146, 124, 194);*/

@media only screen and (max-width: 740px) {
    #desktop {
        width: 100%;
        height: 100%;
        background-image: var(--color-back-mobile);
        background-repeat: no-repeat;
        margin: 0px;
        overflow: hidden;
    }

    header {
        height: 5rem;
        position: relative;
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
    }

    header .logo {
        margin-left: 0px;
        height: 70%;
        background-size: contain;
    }

    header .menu ul {
        display: none;
    }

    header .menu .fa-bars {
        display: inline-block;
        font-size: 2rem;
        line-height: 2rem;
        color: white;
        margin-right: 1rem;
    }

    #about {
        /*position:relative;
    top:5rem;*/
        background: none;
        display: block;
        height: 100%;
    }

    #about .img {
        display: flex;
        width: 100%;
        height: 30rem;
        justify-content: center;
        align-items: center;
    }

    #about .img img {
        width: 20rem;
        height: 20rem;
        text-align: center;
        margin-left: 0px;
    }

    #about .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    #about .text h1,
    h2,
    p {
        align-self: center;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        text-align: justify;
    }

    #about .text h1 {
        font-size: 5.5rem;
    }

    #about .text h2 {
        font-size: 3rem;
        flex-wrap: nowrap;
    }

    #about .text p {
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1rem;
        font-weight: 300;
        background: var(--color-back-content);
        backdrop-filter: var(--blur-back);
        padding: 3rem;
        border-radius: 3rem;
        height: 100%;
    }

    #information {}

    #information .container {
        padding: 2rem 1rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #information .container .item1 {
        padding-bottom: 1rem;
    }

    #information .container .item1 hr {
        width: 90%;
    }

    #skill {
        margin-top: 2rem;
        width: 80%;
        height: 30rem;
        background: var(--color-back-content);
        backdrop-filter: var(--blur-back);
        border-radius: 3rem;
        padding: 1rem;
        box-sizing: border-box;
    }

    #skill .dong {
        display: flex;
        justify-content: space-around;
    }

    #skill .text hr {
        width: 30%;
    }

    #skill .dong .icon {
        background: none;
        height: 2rem;
        width: 0.5rem;
        background-size: contain;
        margin: 3rem;
    }

    #skill .dong .icon:nth-child(2) {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    #skill .dong .icon img {
        height: 3.5rem;
        background-size: contain;
    }

    #footer {
        margin-top: 3rem;
    }
}